<div class="col-md-12 mt-2 clearfix">
  <h1 class="float-left">
    draw area
  </h1>
  <button type="button" class="btn btn-primary float-right" (click)="resetPoints($event)" name="button">Reset</button>
</div>
<div id="draw-board" class="draw-area" (click)="getPosition($event)">
  <app-point
    ngDraggable
    (stopped)="onStop($event, i)"
    id="point-{{i}}"
    class="some-point"
    *ngFor="let item of coordinates.getPoints(); let i = index; trackBy: trackByFn"
    [ngStyle]="pointPosition(item)"
    [coordinates]="coordinates"
    [indexPoint]="i"
    (update)="newCoordinate($event)">
  </app-point>
</div>
<canvas #parallelogram id="canvas" class="mt-3" width="{{cWidht}}" height="{{cHeight}}" style="border: 1px solid black; border-radius: 5px" (click)="preventClick($event)"></canvas>
<canvas #circle *ngIf="coordinates.length() === -1" id="canvas2" class="mt-3" width="{{cWidht}}" height="{{cHeight}}" style="border: 1px solid black; border-radius: 5px" (click)="preventClick($event)"></canvas>
