.mt-25 {
  margin-top: 25px;
}

.mt-3 {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.draw-area {
  width: 100%;
  min-height: 800px;
  border: 1px solid black;

  .some-point {
    position: absolute;
    display: block;
    transform: none;
  }
}
