<div class="col-md-12 mt-2 clearfix">
  <h1 class="float-left">
    draw area
  </h1>
  <button type="button" class="btn btn-primary float-right" (click)="resetPoints($event)" name="button">Reset</button>
</div>
<div id="draw-board" class="draw-area" (click)="getPosition($event)">
  <app-point
    class="some-point"
    *ngFor="let item of coordinates.getPoints(); let i = index; trackBy: trackByFn"
    [ngStyle]="pointPosition(item)"
    [coordinates]="coordinates"
    [indexPoint]="i"
    (update)="newCoordinate($event)">
  </app-point>

  <app-circle
    class="some-point"
    *ngIf="coordinates.length() === 4"
    [ngStyle]="circlePosition(coordinates.getCenterOfMass())"
    [points]="coordinates">
  </app-circle>

  <div class="" [ngStyle]="parallelogram()">

  </div>
</div>
